# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# IDE files
.vscode/
.idea/

# Logs
*.log

# OS files
.DS_Store
# Generated PDFs
storage/generated_pdfs/

# Storage files
storage/git config --global core.autocrlf true